repos:
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-java
        args: [ --autofix ]
      - id: pretty-format-kotlin
        args: [ --autofix, --ktfmt, --ktfmt-style=google ]
  - repo: local
    hooks:
      - id: commit-msg
        name: conventional commit messages
        language: pygrep
        entry: '^(chore|test|feat|fix|build|docs|refactor)!?\(#\d+\): (?![A-Z])(?![a-z]+(ed|ing)\s).*$'
        args: [ --multiline, --negate ] # fails if the entry is NOT matched
        stages: [ commit-msg ]