repos:
  - repo: https://github.com/google/keep-sorted
    rev: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: local
    hooks:
      - id: gradle-spotless-apply
        name: Gradle Spotless (apply, skip on "Rename .java to .kt")
        entry: bash
        language: system
        args:
          - -c
          - |
            COMMIT_MSG_FILE="$1"
            # Only run Spotless if the commit message is NOT exactly "Rename .java to .kt"
            if ! grep -qx "Rename .java to .kt" "$COMMIT_MSG_FILE"; then
              ./gradlew -q spotlessApply && git add -A
            fi
          - --
        pass_filenames: true
        stages: [ commit-msg ]
  - repo: local
    hooks:
      - id: commit-msg
        name: conventional commit messages
        language: pygrep
        entry: '^((chore|test|feat|fix|build|docs|refactor)!?\(#\d+\): (?![A-Z])(?![a-z]+(ed|ing)\s).*)|(Rename .java to .kt)$'
        args: [ --multiline, --negate ] # fails if the entry is NOT matched
        stages: [ commit-msg ]