name: Bump version and release
on:
  workflow_run:
    workflows: ['CI-main']                     # runs after CI workflow
    types:
      - completed
jobs:
  bump-version-and-release:
    name: Bump Version
    runs-on: ubuntu-latest
    # Only run one job a time to avoid conflicts
    concurrency: ci-${{ github.ref }}
    # This permission may be required to grant access for the Action to push tags
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
          server-id: central

      - name: Increment version
        id: increment-version
        uses: PaulHatch/semantic-version@v5.4.0

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          release_name: Release ${{ steps.increment-version.outputs.version }}
          draft: false
          prerelease: false
          tag_name: v${{ steps.increment-version.outputs.version }}
